In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('Project_mail_data.csv')

In [3]:
raw_mail_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
mail_data['Category']=enc.fit_transform(mail_data['Category'])
mail_data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
#Sepearting data into feature and target variables
X = mail_data['Message']
y = mail_data['Category']

In [8]:
print(y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int32

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [10]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(3733,)
(1839,)

In [13]:
# Converting text data to feature vectors to use as input to different models

from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [14]:
print(X_train)

1245                   Now? I'm going out 4 dinner soon..
787     It does it on its own. Most of the time it fix...
4840    That's one of the issues but california is oka...
4916    We took hooch for a walk toaday and i fell ove...
3650    Hmm ill have to think about it... ok you're fo...
                              ...
4931    Hi, the SEXYCHAT girls are waiting for you to ...
3264                              So u gonna get deus ex?
1653    For ur chance to win a £250 cash every wk TXT:...
2607    R U &SAM P IN EACHOTHER. IF WE MEET WE CAN GO ...
2732    Mm feeling sleepy. today itself i shall get th...
Name: Message, Length: 3733, dtype: object

In [15]:
print(X_train_features)

  (0, 5646)	0.5920982739928232
  (0, 2062)	0.640108746281715
  (0, 2825)	0.4895716769466661
  (1, 2508)	0.34270399053056233
  (1, 6762)	0.27578644896943716
  (1, 2047)	0.38259400106589375
  (1, 1704)	0.33641745434580733
  (1, 2780)	0.3214249431130647
  (1, 5697)	0.401682928573338
  (1, 2546)	0.401682928573338
  (1, 6163)	0.19969201096307793
  (1, 2116)	0.28469578972459775
  (2, 3865)	0.49850596287889765
  (2, 5612)	0.40447102292822823
  (2, 4365)	0.3701282978620085
  (2, 1410)	0.4748157746470456
  (2, 3351)	0.4748157746470456
  (3, 6216)	0.20540022384801707
  (3, 3094)	0.17982498153043358
  (3, 5768)	0.32426343376293215
  (3, 3529)	0.34044204911803666
  (3, 2882)	0.34044204911803666
  (3, 5711)	0.34044204911803666
  (3, 2489)	0.32426343376293215
  (3, 6194)	0.34044204911803666
  :	:
  (3730, 313)	0.2800590784606305
  (3730, 99)	0.29884389450980836
  (3730, 1876)	0.2545696713595693
  (3730, 4103)	0.29884389450980836
  (3730, 584)	0.29884389450980836
  (3730, 715)	0.2882648347284835
  (3730, 335)	0.239659324039833
  (3730, 1511)	0.21066503364407932
  (3730, 6705)	0.1939428202998492
  (3730, 1472)	0.19121761514192825
  (3730, 6733)	0.4478814733715922
  (3730, 6321)	0.22237567320662485
  (3730, 6808)	0.17950697557938267
  (3730, 6330)	0.1660580168992988
  (3730, 6428)	0.14106893644436924
  (3731, 2221)	0.6130272369033981
  (3731, 5259)	0.5471921018097473
  (3731, 3133)	0.43754554596647327
  (3731, 3940)	0.3651469645725089
  (3732, 5561)	0.5454419318907993
  (3732, 4035)	0.44928881354404165
  (3732, 5411)	0.39214855188077563
  (3732, 1938)	0.30961812157454066
  (3732, 2483)	0.40863112978075555
  (3732, 6199)	0.28984373856267237

In [16]:
from sklearn.linear_model import LogisticRegression
Logmodel = LogisticRegression()
Logmodel.fit(X_train_features, y_train)

LogisticRegression()

In [17]:
# predicting on training data

from sklearn.metrics import accuracy_score
Log_y_train_pred = Logmodel.predict(X_train_features)
Log_training_accuracy = accuracy_score(y_train, Log_y_train_pred)
print('Accuracy on training data : ', Log_training_accuracy)

# predicting on test data

Log_y_test_pred = Logmodel.predict(X_test_features)
Log_testing_accuracy = accuracy_score(y_test, Log_y_test_pred)
print('Accuracy on testing data : ', Log_testing_accuracy)

Accuracy on training data :  0.9633002946691669
Accuracy on testing data :  0.9608482871125612

In [18]:
input_mail=["Congratulations! You have won a lottery of 5000. Dial toll free number 55012 to claim it."]
input_data_features = feature_extraction.transform(input_mail)
prediction = Logmodel.predict(input_data_features)
print(prediction)

if (prediction[0]==0):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Spam mail

In [19]:
#Using Multi Layer Perceptron as a Model

from sklearn.neural_network import MLPClassifier
MLPmodel=MLPClassifier(max_iter=300)
MLPmodel.fit(X_train_features,y_train)

mlp_y_train_pred=MLPmodel.predict(X_train_features)
mlp_training_accuracy = accuracy_score(y_train, mlp_y_train_pred)
print("Training accuracy on MLP Model : ",mlp_training_accuracy)

mlp_y_test_pred=MLPmodel.predict(X_test_features)
mlp_testing_accuracy = accuracy_score(y_test, mlp_y_test_pred)
print("Testing accuracy on MLP Model : ",mlp_testing_accuracy)

Training accuracy on MLP Model :  1.0
Testing accuracy on MLP Model :  0.9842305600870038

In [20]:
#Predicting Sample Input

mlpprediction = MLPmodel.predict(input_data_features)
print(mlpprediction)

if (mlpprediction[0]==0):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Spam mail